/* DayMonthButton.css */
.chart-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 10px 0;
}

.chart-label-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
}

.chart-span {
  margin-left: 8px;
}

[type='radio'] {
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  transition: border 0.3s ease-in-out;
}

[type='radio']:checked {
  border: 0.4em solid #007bff;
}

[type='radio']:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #007bff;
}

[type='radio']:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type='radio']:hover + span {
  cursor: pointer;
}

[type='radio']:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type='radio']:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}
