/* GoalBar.css */

.goal-bar-default {
  width: 80%;
  height: 35px;
  background: linear-gradient(
    to right,
    var(--color) 0%,
    /* var(--color) var(--midpoint), */ #fff var(--midpoint),
    #fff 100%
  );
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.goal-bar-rectangle {
  width: 80%;
  height: 35px;
  background: linear-gradient(
    to right,
    var(--color) 0%,
    /* var(--color) var(--midpoint), */ #fff var(--midpoint),
    #fff 100%
  );
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.goal-bar-update {
  width: 60%;
  height: 35px;
  background: linear-gradient(
    to right,
    var(--color) 0%,
    /* var(--color) var(--midpoint), */ #fff var(--midpoint),
    #fff 100%
  );
  background-blend-mode: var(--midpoint);
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
}

.goal-bar-diary {
  width: 60%;
  height: 35px;
  background: linear-gradient(
    to right,
    var(--color) 0%,
    /* var(--color) var(--midpoint), */ #fff var(--midpoint),
    #fff 100%
  );
  background-blend-mode: var(--midpoint);
  border-radius: 10px;
  border: 1px solid #afafaf;
  color: var(--textcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}
