/* UserTemplate.css */

.user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

@media (max-width: 997px) {
  .user {
    flex-direction: column;
  }

  .calender-container {
    margin-bottom: 50px;
  }
}

/* 달력 스타일 */
.calender-container {
  flex: 4 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calender-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

/* 차트 스타일 */
.chart-container {
  flex: 2 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-content {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bar-content {
  flex: 3;
  /* width: 100%; */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-flex-content {
  display: flex;
  flex-direction: column;
}

.spend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.spend-text-blue {
  font-size: 20px;
  color: blue;
  font-weight: 700;
}

.spend-text-black {
  font-size: 20px;
  font-weight: 700;
}

.spend-today-div {
  margin-top: 20px;
}

.elements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.custom-button {
  background-color: #0b5fff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  text-align: center;
}
