/* UserTemplate.css */

.user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* 달력 스타일 */
.calender-container {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calender-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

/* 차트 스타일 */
.chart-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-content {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bar-content {
  flex: 3;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spend-text-blue {
  font-size: 20px;
  color: blue;
  font-weight: 700;
}

.spend-text-black {
  font-size: 20px;
  font-weight: 700;
}
