/* UserTemplate.css */

.user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* 달력 스타일 */
.calender-container {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calender-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

/* 차트 스타일 */
.chart-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-right: 15%;
  width: 100%;
}

.chart-button label {
  height: 100%;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
}

.chart-content {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bar-content {
  flex: 3;
  width: 100%;
}
