.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #f8f8ff;
  z-index: 1;
  text-decoration: none;
  font-family: 'The Jamsil 3';
  outline: none;
}

.header-menu-container {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.sub-menu {
  display: flex;
  align-items: center;
  font-size: 18px;
  /* text-decoration: none; */
}

.sub-menu-container {
  margin-left: 30px;
}

.header-link-content {
  font-size: 35px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  outline: none; /* Link 클릭 시 생기는 외곽선 제거 */
}

.link-content {
  transition:
    font-size 0.3s,
    font-weight 0.3s;
  text-decoration: none;

  outline: none; /* Link 클릭 시 생기는 외곽선 제거 */
}

.link-content.active-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}
.link-content:visited {
  color: inherit; /* 이전의 색상을 상속받도록 설정 */
  text-decoration: none; /* 밑줄 제거 */
}
