/* GoalTemplate.css */

.goal-template {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goal-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 92%;
}

.goal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin-right: 30px;
}

.goal-chart {
  width: 100%;
  margin-bottom: 15px;
}

.goal-bar {
  width: 100%;
  margin-bottom: 15px;
}

.goal-bar-chart {
  width: 100%;
}

.goal-input-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.goal-update-button-div {
  display: flex;
  flex-direction: row;
}

.goal-inputs-container {
  display: flex;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .goal-main {
    flex-direction: column;
  }

  .goal-container {
    flex-direction: column;
  }

  .goal-chart {
    width: auto !important;
    margin-bottom: 30px;
  }

  .goal-inputs-container {
    flex-direction: column;
  }
}

@media (max-width: 1140px) {
  .goal-main {
    flex-direction: column;
  }

  .goal-container {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .goal-chart {
    /* width: 50%; */
    margin-bottom: 30px;
  }

  .goal-bar-chart {
    width: 75%;
  }
}

.goal-inputs-category {
  display: flex;
  margin-bottom: 15px;
}

.goal-inputs-category-name {
  width: 125px;
  margin-right: 5px;
  text-align: right;
  font-size: medium;
  font-weight: bold;
}

.goal-inputs-rectangle-label {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-right: 15px;
}

.goal-inputs-amount {
  padding-right: 5px !important;
  width: 125px;
  font-size: inherit;
  padding: 0;
  text-align: right;
  background: transparent;
  font-family: 'The Jamsil 4';
}

.goal-inputs-amount::placeholder {
  font-size: 14px;
}

.first-goal-and-month {
  font-family: 'The Jamsil 5';
  font-size: 25px;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  /* 다음 요소와의 간격을 조정하기 위한 마진 값 */
  margin-bottom: 5px;
  color: #007bff; /* 기본적으로 파란색으로 설정 */
}

.first-goal-and-month-title {
  font-family: 'The Jamsil 4';
  font-size: 15px;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  margin-bottom: 20px; /* 다음 요소와의 간격을 조정하기 위한 마진 값 */
}
