/* DiaryForm.css */

.diary-p {
  margin: 0;
}

.diary-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: white;
}

.diary-date-title-stamp-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #000;
}

.diary-date-title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.diary-form-date {
  width: 100%;
  border-bottom: 1px solid #000;
}

.diary-date {
  margin: 10px 15px;
}

.diary-form-title-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.diary-title {
  width: 10%;
  margin: 10px 15px;
}

.diary-title-content {
  width: 80%;
  margin: 10px 15px;
  word-break: break-all;
}

.diary-form-stamp {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #000;
}

.diary-form-stamp img {
  width: 80%;
}

.diary-form-content-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  padding: 5px 0;
  border-bottom: 1px solid #000;
}

.diary-content {
  width: 95%;
  height: 40vh;
  margin: 0;
}

.diary-form-comment-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.diary-comment-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  font-size: medium;
  border-right: 1px solid #000;
}

.diary-comment {
  width: 80%;
  padding: 5px 10px;
}

/* 버튼 스타일 */

.diary-button-div {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 5px;
  margin-right: 10px;
}
.diary-button {
  background-color: #007bff;
  color: white;
  border: none;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'The Jamsil 3';
  font-size: 16px;
}

.diary-button:hover {
  background-color: #0056b3;
}
