/* SignUpTemplate.css */

/* 로그인 스타일 */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

/* 제목 스타일 */
.signup-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #007bff;
}

/* 입력 필드 스타일 */
.signup-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 80%;
  position: relative;
}

.signup-input-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 80%;
  position: relative;
}

.signup-input-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: relative;
}

/* 버튼 스타일 */
.signup-button {
  background-color: #007bff;
  color: white;
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #0056b3;
}

/* 링크 스타일 */
.signup-link {
  color: black;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* 모달 컨테이너 */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경에 어둡게 투명도를 주는 레이어 */
  z-index: 1000; /* 다른 요소 위에 표시하기 위한 z-index 설정 */
}

/* 모달 내용 컨테이너 */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 300px; /* 모달 창의 너비를 조절하세요. */
}

/* 모달 내용 스타일링 예제 */
.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.modal button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

/* 모달 닫기 버튼 스타일링 */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #000;
}
