/* SignUpTemplate.css */

/* 로그인 스타일 */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

/* 제목 스타일 */
.signup-title {
  margin-bottom: 50px;
  color: #007bff;
  width: 80%;
  text-align: center;
  font-size: xx-large;
}

/* 입력 필드 스타일 */
.signup-input1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 80%;
  position: relative;
}

.signup-input2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  position: relative;
}

.signup-input-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 80%;
  position: relative;
}

.signup-input-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: relative;
}

.signup-input-sub1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.signup-input-sub2 {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

/* 버튼 스타일 */
.signup-button {
  background-color: #007bff;
  color: white;
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #0056b3;
}

/* 링크 스타일 */
.signup-link {
  color: black;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* 모달 컨테이너 */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* 모달 내용 컨테이너 */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 450px;
}

/* 모달 내용 스타일링 예제 */
.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.modal button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

/* 모달 닫기 버튼 스타일링 */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #000;
}

.duplicatecheck-button {
  margin-left: 30px;
  padding: 7px 10px; /* 기존 패딩의 절반 크기로 조절 */
  width: auto; /* 너비를 자동으로 설정 */
  font-size: 10px; /* 폰트 크기 감소 */
  white-space: nowrap;
}
