/* EmotionTemplate.css */

.emotion-template {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emotion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.emotion-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
}

.emotion-sub-title {
  margin-left: 20px;
  align-self: self-end;
  font-size: medium;
  color: #909090;
  font-weight: bold;
}

.emotion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 450px;
  overflow: auto;
}

.emotion-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.emotion-option-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid rgb(200, 200, 200);
}

.emotion-option-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left: 1px solid rgb(200, 200, 200);
}

.emotion-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 25px;
}

.emotion-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.emotion-text {
  font-size: medium;
  font-weight: bold;
}

.emotion-option-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin-bottom: 10px;
}

.emotion-option-button {
  display: flex;
}

.emotion-choose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.face-emoji {
  width: 35px;
}

.emotion-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 90%;
}

.emotion-button {
  background-color: #007bff;
  color: white;
  border: none;
  width: 10%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.emotion-button:hover {
  background-color: #0056b3;
}
