/* TestPage.css */

.test-page {
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-chat {
  margin: 500px 0 0;
}
