/* RepasswordTemplate.css */

/* 로그인 스타일 */
.repassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 제목 스타일 */
.repassword-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #007bff;
}

/* 입력 필드 스타일 */
.repassword-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 80%;
  position: relative;
}

/* 버튼 스타일 */
.repassword-button {
  background-color: #007bff;
  color: white;
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.repassword-button:hover {
  background-color: #0056b3;
}

/* 링크 스타일 */
.repassword-link {
  color: black;
  text-decoration: none;
}

.repassword-link:hover {
  text-decoration: underline;
}
