/* RepasswordTemplate.css */

/* 로그인 스타일 */
.repassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

/* 제목 스타일 */
.repassword-title {
  margin-bottom: 50px;
  color: #007bff;
  width: 80%;
  text-align: center;
}

.repassword-container-box {
  width: 80%;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 5px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 입력 필드 스타일 */
.repassword-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
}

.repassword-first-input {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
}

.repassword-second-input {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 0 0 5px 5px;
  padding: 5px 10px;
  margin-bottom: 15px;
  top: -1px;
}

.repassword-first-box,
.repassword-second-box {
  border-radius: 10px 10px 0 0;
}

.repassword-input-box {
  font-size: medium;
  text-indent: 5px;
  border: 0;
  padding: 10px 0;
  width: 100%;
}

.repassword-input-box:focus {
  outline: none;
}

.repassword-first-input:focus-within,
.repassword-second-input:focus-within {
  border: 1px solid #007bff;
  z-index: 1;
}

.repassword-button-div {
  width: 100% !important;
  margin-top: 20px;
}

/* 버튼 스타일 */
.repassword-button {
  background-color: #007bff;
  color: white;
  border: none;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.repassword-button:hover {
  background-color: #0056b3;
}

/* 링크 스타일 */
.repassword-link {
  color: black;
  text-decoration: none;
}

.repassword-link:hover {
  text-decoration: underline;
}
