/* BankHeader.css */
.bank-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  background-color: #f8f8ff;
  z-index: 1;
}

.bank-header-logo-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bank-header-link-content {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.bank-header-blank {
  width: 75%;
}

.bank-header-menu-container {
  width: 10%;
  display: flex;
  justify-content: right;
  align-items: center;
}
