/* AccountModal.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-title {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.close-button-container {
  display: flex;
  justify-content: right;
  width: 10%;
  height: 30px;
}

.close-button-container button {
  border: none;
  width: 30px;
  height: 30px;
  font-size: 10px;
  margin-left: auto;
}

.modal-input {
  display: flex;
  flex-direction: row;
}

.input-container {
  margin-bottom: 10px;
  text-align: left;
}

.modal-input-part1 {
  flex: 3;
}
.modal-input-part2 {
  margin-left: 5px;
  flex: 1;
}

h2 {
  margin-bottom: 20px;
}

.timer-text {
  font-size: 10px;
  color: red;
  text-align: right;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button button {
  width: 30%;
}
