/* AccountModal.css */

.account-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 45px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.account-close-button {
  width: 10% !important;
  border: none;
  font-size: medium;
  position: absolute;
  top: 15px;
  right: 15px;
}

.account-modal-title {
  margin: 20px 0 40px !important;
}

.account-input-container {
  text-align: left;
}

.account-bank-select-form {
  margin-bottom: 15px;
}

.modal-input {
  display: flex;
  flex-direction: row;
}

.modal-input-part1 {
  flex: 2;
}

.modal-input-part2 {
  flex: 1;
}

.modal-account-input {
  width: 100%;
  margin: 0 0 15px 0 !important;
  padding: 11px;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: medium;
  outline: none;
}

.modal-account-input:focus-within,
.modal-code-input:focus-within {
  border: 1px solid #007bff;
  z-index: 1;
}

.modal-code-input-box:focus {
  outline: none;
}

.send-code-btn {
  font-size: medium;
}

.account-regist-btn {
  font-size: medium;
  margin: 25px 0 0;
}

.modal-code-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 10px;
}

.modal-code-input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 3;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 10px 0 0;
}

.modal-code-input-box {
  font-size: medium;
  flex: 1;
  margin: 0 !important;
  border: none !important;
}

.modal-code-btn {
  font-size: medium;
  padding: 9px !important;
}

.timer-text {
  font-size: medium;
  color: red;
  text-align: right;
}
