/* SettingTemplate.css */

/* 로그인 스타일 */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  font-family: 'The Jamsil 4';
}

/* 제목 스타일 */
.user-setting-title {
  margin-bottom: 50px;
  color: #007bff;
  width: 80%;
  text-align: center;
  font-family: 'The Jamsil 3';
}

.setting-container-box {
  width: 80%;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 입력 필드 스타일 */
.user-setting-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
  background: transparent;
  font-family: 'The Jamsil 2';
}

.setting-input-box {
  font-size: medium;
  text-indent: 5px;
  border: 0;
  padding: 10px 0;
  width: 100%;
}

.setting-input-box:focus {
  outline: none;
}

/* 메인 입력 필드 스타일 */
.setting-email-input {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
}

.setting-pw-input {
  border: 1px solid rgb(213, 213, 213);
  padding: 5px 10px;
  top: -1px;
}

.setting-repw-input {
  border: 1px solid rgb(213, 213, 213);
  padding: 5px 10px;
  top: -2px;
}

.setting-name-input {
  border: 1px solid rgb(213, 213, 213);
  padding: 5px 10px;
  top: -3px;
}

.setting-age-input {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 0 0 0 5px;
  padding: 5px 10px;
  top: -3.5px;
}

.setting-salary-input {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 0 0 5px 0;
  padding: 5px 10px;
  top: -3.5px;
}

.setting-pw-input:focus-within,
.setting-repw-input:focus-within,
.setting-age-input:focus-within,
.setting-salary-input:focus-within {
  border: 1px solid #007bff;
  z-index: 1;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 버튼 스타일 */
.setting-button {
  width: 90%;
  margin: 35px 0 0;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  font-family: 'The Jamsil 3';
}

.setting-button:hover {
  background-color: #0056b3;
}
