/* DiaryTemplate.css */

.diary-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.diary-container h1 {
  margin-bottom: 35px;
}

.diary-template {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.diary-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diary-donutchart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30vw;
  height: 100%;
}

.category-list-cotainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.category-left,
.category-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.donut-category-name {
  text-align: left !important;
}

.diary-goal-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diary-goal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 30px;
}

.diary-goal-category {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
